{% load static %}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <meta charset="UTF-8">
</head>

<div class="container">
  <div class="box">
    <header>
      <a href="{%url 'index'%}" ><h1>Home Sted</h1></a>
        <nav>
          <a href="{% url 'apartment' %}">Apartment</a>
          <a href="{% url 'files' %}">Files</a>
          <a href="{% url 'proxy' %}">Proxy</a>
          <a href="{% url 'phone_home' %}">Phone Home</a>
          <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
  </div>
</div>



