{% load static %}
{%if request.user.is_authenticated%}
{% include 'homested/apartment/apartment.html'%}

<div  class="container">

      <div class="box">
        <div class="box_inner_1">
          <h2>Water</h2>
            <h3>Balance: {{data.bills.balance}}</h3>
            <h3>Due Date: {{data.bills.date}}</h3>
        </div>
      </div>

    <div class="box">
        <div class="box_inner_1">
          <h2>Light : </h2>
            <h3>Balance: {{data.bills.balance}}</h3>
            <h3>Due Date: {{data.bills.date}}</h3>
        </div>
      </div>

    <div class="box">
        <div class="box_inner_1">
          <h2>Internet : </h2>
            <h3>Balance: {{data.bills.balance}}</h3>
            <h3>Due Date: {{data.bills.date}}</h3>
        </div>
      </div>
</div>
{%endif%}